h3{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: ivory;
    text-shadow: 0 2px 3px rgb(53, 53, 53);
}
body{
    background-image: url("aref.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.main{
    
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    justify-content: center;
    border-top: 2px solid rgb(9, 39, 206);
    border-bottom: 2px solid rgb(9, 39, 206);
    padding: 15px;
    transition: 1s;
    margin-top: 10%;
    background-color: rgba(5, 5, 5, 0.267);
    border-radius: 5px;
}
form{
    padding: 20px;
    transition: 1s;
    
    border: 0.5px solid black;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 20px #2e2e2e;
    
   
}
.main:hover{
    padding-bottom:35px;
    padding-top:30px;
    transition: 1s;
}
input{
    padding: 5px;
    margin-bottom:5px;
    display: flex;
    flex-direction: row;
   
}

.submit{
    justify-content: center;
    padding-left: 74px;
    padding-right: 74px;
   background-color:rgb(0, 15, 218) ;
   color: floralwhite;
    
}

